.logo {
  display: flex;
  align-items: center;
  z-index: 1;
}

.right-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 50px;
  z-index: 1;
  width: 417px;
}

.top-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-cta-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  height: 48.34vw;
  width: 100%;
  background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    url('hero.png') no-repeat;
  background-size: 100%;
}
