.button {
  composes: center from global;
  padding: 0;
  border-radius: 50px;
  font-weight: bold;
  text-transform: capitalize;
}

.light:hover {
  color: var(--navy);
  background: white;
}

.dark:hover {
  background: var(--navy);
}

.border {
  border: 2px solid var(--blue);
}

.border:hover {
  border-color: var(--navy);
}
