@import-normalize;

:root {
  --blue: #265b73;
  --charcoal: #333;
  --silver: #f7f7f7;
  --navy: #122d4d;
  --grey: #777;
  --cyan: #77c4d6;
  --grn: #1c8345;
  --rd: #cc1f1f;
  --shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  --darkShadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  margin: 0;
  font-family: Helvetica;
  text-decoration: none;
}

/*body {
  background: #5c9bb8;
}*/

body,
a {
  color: white;
}

a:hover {
  color: white;
  text-decoration: underline;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.v-center {
  display: flex;
  align-items: center;
}

.space {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.flex {
  display: flex;
}

.flex-1 {
  flex: 1;
}

.wrap {
  flex-wrap: wrap;
}

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top {
  position: absolute;
  top: 0;
}

.right {
  margin-left: auto;
}

.round {
  border-radius: 10px;
}

.bold {
  font-weight: bold;
}

.light {
  color: var(--blue);
  background: white;
}

.dark {
  color: white;
  background: var(--blue);
}

.silver {
  color: var(--blue);
  background: var(--silver);
}

.blu {
  color: var(--blue);
}

.white {
  background: white;
}

.charc {
  color: var(--charcoal);
}

.grn {
  color: var(--grn);
  background: rgba(28, 131, 69, 0.2);
}

.rd {
  color: var(--rd);
  background: rgba(234, 67, 53, 0.35);
}

.text-24 {
  font-size: 24px;
}

.text-28 {
  font-size: 28px;
}

.heading-32 {
  font-size: 32px;
}

.heading-40 {
  font-size: 40px;
  font-weight: bold;
}

.heading-59 {
  font-size: 3.625rem;
  font-weight: bold;
}

.shadow {
  box-shadow: var(--shadow);
}

.text-shadow {
  text-shadow: var(--darkShadow);
}

.dark-shadow {
  box-shadow: var(--darkShadow);
}

.sect-ctnr {
  background: var(--silver);
  padding: 1px 0;
}

.sect {
  flex-direction: column;
  background: white;
  box-shadow: var(--shadow);
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 960px) {
}

@media screen and (max-width: 1280px) {
  html {
    font-size: 13px;
  }

  /*  .button {
    transform: scale(0.8);
  }*/
}

@media screen and (max-width: 1920px) {
}
