.bg {
  composes: center from global;
  height: 51.1vw;
  position: relative;
}

.bg::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 51.1vw;
  opacity: 0.97;
  filter: grayscale(15%);
  background: url(meeting.png);
  background-size: 100%;
  z-index: -1;
}

.main {
  composes: center round white from global;
  flex-wrap: wrap;
  width: 430px;
  height: 581px;
}
